.button {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--color_pink_blush);
    &:hover {
      background-color: var(--color_beige_ivory);
      color: var(--color_black_gunmetal);
    }
  }

