.container {
  margin: 10px 10px;
}
.button-container {
  margin: 10px 00px;
  display: flex;
}

.button{
  width:300px;
  height: 50px;
}

.deck-container {
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 10px;
  padding-top: 1rem;
  max-height: 800px;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  &::-webkit-scrollbar { 
    display:none;
  }
  @media only screen and (max-width: 1250px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media only screen and (max-width: 900px) {
    max-height: 600px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media only screen and (max-width: 480px) {
    max-height: 450px;
    grid-template-columns: repeat(2, 1fr);
  }
}

